@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 390px) {
    .upperbar {
        display: none;
    }
}

.mobile-upperbar {
    position: absolute;
}

.mobile-upperbar-icons {
    width: 30px;
    height: 30px;
}